{% extends 'base.html' %}

{% block title %}
<title>Log In</title>
{% endblock %}

{% block content %}
<div class="container jumbotron" align="center">
    <form method="post">
        {% csrf_token %}
        <label for="uname">Username:</label>
        <br>
        <input type="text" id="uname"  name="u">
        <br>
        <label for="pword">Password:</label>
        <br>
        <input type="password" id="pword" name="p">
        <br>
        <br>
        <input type="submit" value="LOGIN" class="btn btn-success">
        
    </form>
</div>
{% endblock %}