{% extends 'base.html' %}

{% block title %}
<title>Delete confirmation</title>
{% endblock %}

{% block content %}
    <div class="container jumbotron">
       
        <form method="post">
            {% csrf_token %}
            <p>Do you really want to delete <span style="color:red">{{obj.laptop_id}} , {{obj.name}} </span> this record?</p>
            <input type="submit" value="YES" class="btn btn-danger"/>
            <a href="{% url 'showlap_url' %}"><button class="btn btn-warning" >No</button></a>
        </form>    
            
    </div>
{% endblock %}